{% extends "base.html" %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}
        </div>
        <div>
            {{ form.remember.label }}<br>
            {{ form.remember }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        
    </form>
{% endblock %}